In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.3'

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://root:nidal@localhost:5432/ny_taxi')

In [18]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

In [19]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [20]:
df_iter

In [21]:
df = next(df_iter)

In [22]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [36]:
df_iter1 = pd.read_csv('yellow_tripdata_2021-01.csv')

C:\Users\Hp\AppData\Local\Temp\ipykernel_35412\1949177213.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_iter1 = pd.read_csv('yellow_tripdata_2021-01.csv')

In [37]:
len(df_iter1)

1369765

In [24]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [26]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [28]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [29]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 6.84 s
Wall time: 13.8 s

1000

In [31]:
from time import time

In [33]:
 while True:
     t_start = time()
     df = next(df_iter)
     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
     t_end = time()
     print('Time taken to insert chunk %.3f seconds' % (t_end - t_start))

Time taken to insert chunk 14.532 seconds
Time taken to insert chunk 13.838 seconds
Time taken to insert chunk 14.137 seconds
Time taken to insert chunk 13.924 seconds
Time taken to insert chunk 14.791 seconds
Time taken to insert chunk 14.675 seconds
Time taken to insert chunk 14.405 seconds
Time taken to insert chunk 14.372 seconds
Time taken to insert chunk 14.137 seconds
Time taken to insert chunk 14.129 seconds

C:\Users\Hp\AppData\Local\Temp\ipykernel_35412\1691145999.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Time taken to insert chunk 15.275 seconds
Time taken to insert chunk 9.659 seconds

StopIteration: